<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNIST Number Recognition</title>
</head>
<body>
    <h1>MNIST Number Recognition</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png,.webp" required>
        <label for="expected_digit">Enter Expected Digit:</label>
        <input type="number" name="expected_digit" id="expected_digit" required>
        <button type="submit">Upload and Recognize</button>
    </form>
    {% if prediction is defined %}
        <h2>Prediction: {{ prediction }}</h2>
        {% if accuracy is defined %}
            <p>Accuracy: {{ accuracy * 100 }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
